# index files
**.lwi
**.ffindex

# unwanted folders
.vspreview
results
BDMV
BDRemux
BD
DVD
WEB
premux

# unwanted files
FSRCNNX_x2_56-16-4-1.glsl
x265_settings_test
batch.py

**.m2ts
**.265
**.hevc
**.mkv
**.png
**.wav
**.aac
**.m4a
**.xml
**.txt

# python garbage
__pycache__